<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/fontawesome.min.css" rel="stylesheet"/>
    <link href="css/brands.min.css" rel="stylesheet"/>
    <link href="css/solid.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<h2>Maturity assessment score</h2>
<hr>
<p>
The following score has been calculated based on the QUANTUM-specified Maturity dimensions.
</p>

<h4 class="text-center">Final score: {{ score }} / 50 </h4>

<h3 class="mt-5"><b>Final score calculation</b></h3>
<p> The Total Score is a sum of all the chosen options from the maturity dimensions where every option has a value assigned from 1 to 5. The result can score 50 as maximum.</p><br>
<div class="mt-5">
</div>
</body>
</html>